.header {
  background-color: rgb(255, 251, 237);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
}
.header-main {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.header-title {
  margin: 0 auto;
  width: 200px;
}
.link {
  color: black;
  cursor: pointer;
}
