* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.home {
  width: 1000px;
  margin: 2rem auto;
  padding-top: 60px;
}
.tourlist {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.13);
}
.tourlist-set {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 300px;
}
.tourlist-set-number {
  margin-left: 0.5rem;
}
.tourlist-set-image {
  width: 300px;
}
.tourlist-set-title {
  margin-left: 0.5rem;
}
.tourlistbutton {
  display: flex;
  justify-content: center;
}
.tourlist-button {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: none;
  background-color: green;
  color: white;
  width: 200px;
  height: 60px;
  cursor: pointer;
}
.homesuggest {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.tourlist-suggest {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  align-items: center;
}
.tourlist-suggest-detail {
  width: 45%;
  background-color: gray;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.tourlist-suggest-details {
  display: flex;
  margin: 0 auto;
  width: 400px;
  justify-content: space-between;
}
.tourlist-suggest-button {
  cursor: pointer;
}
.tourlist-suggest-image {
  width: 400px; /* 원하는 너비로 설정합니다 */
  height: 200px; /* 원하는 높이로 설정합니다 */
  object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞추도록 설정합니다 */
}
/* 모달 배경을 어둡게 만드는 오버레이 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 스타일 */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  z-index: 1001;
}

/* 페이드 아웃 애니메이션 */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.tourlist-modal-image {
  width: 400px; /* 원하는 너비로 설정합니다 */
  height: 300px; /* 원하는 높이로 설정합니다 */
  object-fit: cover; /* 이미지 비율을 유지하면서 잘 맞추도록 설정합니다 */
}
.tourlist-modal-detail {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.05);
}
